<h1>Lista de Tracking</h1>
<%= link_to 'Ver lista de contatos', contacts_path %>

<%= paginate @tracks %>

<table>
  <tr>
    <th>Visitante</th>
    <th>Página</th>
    <th>Data/Hora</th>
  </tr>
  <% @tracks.each do |track| %>
    <tr>
      <td><%= track.guid %></td>
      <td><%= track.visited_page %></td>
      <td><%= track.visited_datetime %></td>
    </tr>
  <% end %>
</table>
