<h1>Lista de Contatos</h1>
<%= link_to 'Ver lista de tracking', root_path %>

<%= paginate @contacts %>

<table>
  <tr>
    <th>Email</th>
    <th>Nome</th>
    <th>GUID</th>
  </tr>
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.email %></td>
      <td><%= contact.name %></td>
      <td><%= contact.guid %></td>
    </tr>
  <% end %>
</table>
